<%- include("partials/header.ejs") %>

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1>The 404Wizard Journal</h1>
          <p class="lead text-body-secondary">The hidden adventures of endless magical experiences. Follow and contribute to the coding scriptures with the 404Wizard and the legendary community of ancient developers.</p>
          <p>
            <a href="/create" class="btn btn-primary btn-lg my-2">Create Magical Post</a>
          </p>
        </div>
      </div>
    </section>
    <% if (locals.BlogContent.length > 0) { %>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <%- blogCards %>
            
          <% } else { %>
            <h2 class="text-center" style="opacity: 0.4; padding-bottom: 8rem;">👆 Create your first post 👆</h2>
          <% } %>
        </div>
      </div>
    </div>
  
  </main>

  <%- include("partials/footer.ejs") %>